<div class="mx-auto-400px pt-3">

  <div class="mb-4 ml-1">
    <h1 class="main-title">
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API"
        target=_blank>
        IndexedDB
      </a>+
      <a href="https://dexie.org/"
        target=_blank>
        Dexie
      </a>
    </h1>
    A working demo that stores data in your browser, styled with my <a href="https://www.npmjs.com/package/@riapacheco/yutes" target=_blank style="text-decoration: underline">@riapacheco/yutes</a> package.

  </div>
  

  <!--READING LIST MANAGEMENT-->
  <div class="list-item-wrapper">
    <small>app component</small>
    <h1 class="primary-color dark">
      <i class="material-icons">receipt_long</i>
      Manage Reading Lists
    </h1>
    
    <div class="form-group mt-3">
      <label class="caps wide">
        Add a new reading list
      </label>

      <input
        placeholder="Example: 'Woodworking'"
        autocomplete="off"
        id="name"
        #name
        [(ngModel)]="readingListName"
        type="text">
    </div>

    <div class="mt-2 flex-row nowrap align-center">

      <a (click)="addNewListType()"
        [ngClass]="!readingListName ? 'btn primary disabled' : 'btn primary' "
        >
        Add new list
      </a>

      <a
        [ngClass]="!(readingLists$ | async) ? 'btn accent ml-1 disabled' : 'btn accent ml-1' "
        (click)="resetDatabases()">
        Delete All Lists
      </a>

      <small class="ml-1">
        <-- Reset DBs
      </small>
      
    </div>

  </div>
  


  <!--READING LIST ITEM MANAGEMENT-->
  <!--
    trackBy =track 
  -->
  
  <div
    class="list-item-wrapper mt-5"
    *ngFor="let list of readingLists$ | async; trackBy: readingListTrackBy">
    
    <app-reading-list
      [readingList]="list">
    </app-reading-list>
  </div>

</div>