@import 'node_modules/@riapacheco/yutes/main.scss';
@import 'node_modules/@riapacheco/yutes/season/two.scss';

* {
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-size: 13px;
  font-weight: 500;
}

.caps {
  text-transform: uppercase;
  &.wide {
    letter-spacing: 0.04rem;
  }
}

input::placeholder {
  opacity: 0.45;
}


small {
  opacity: 0.2;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;

  &.on-btn {
    opacity: 1;
    font-size: 9px;
    letter-spacing: 0.05px;
  }
}